<h1 id="title">Youtube my Playlist</h1>

<%= javascript_include_tag "myplaylist.js" %>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.effects.core.js"></script>
<script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.effects.slide.js"></script>

<p>
	<input name="lol" onClick="javascript:parseVideos()" type="submit" value="Continue">
</p>
<p>
	<textarea id="input" name="Name" rows="10" cols="60">
</p>