<p>
<textarea id="input" name="Name" rows="6" cols="60" onFocus="this.value='';this.onfocus='';" >Put your videos here, for example:
		
Rick Roll
Charlie Bit my Finger
Techno Viking
Nuclear Tacos!</textarea>
</p>

<p>
	<input name="lol" onClick="javascript:parseVideos()" type="submit" class="submit" value="<%= ['Release the Awesomeness!!', 'Do a Magic Trick!', 'Deploy!', 'Leroy Jenkins!', 'I like turtles'].sort_by{rand}[0] %>">
</p>