<!DOCTYPE html>  
<html lang="en">  
	<head>
		<meta charset="utf-8" />  
		<title>Youtube My Playlist</title>  
		<%= stylesheet_link_tag("playlist") %>
	</head>  
	<body>
		<div id="content">
			<%= yield %>
		</div>
	</body> 
</html>